<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Foo</title>

  <link rel="preload" href="fonts/calibre-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <meta name="description" content="Foo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="robots" content="noindex, nofollow">
</head>

<body itemscope itemtype="https://schema.org/Person" class="layout">
  <header class="layout__header header">
    <section class="header__section header__section--1">
      <h1 class="c-dark">Michael Brewer</h1>
    </section>

    <section class="header__section header__section--2">
      <div>Simple &amp; Useful</div>
      <div>&copy;2019</div>
    </section>

    <section itemprop="affiliation" itemscope itemtype="https://schema.org/Organization" class="header__section header__section--3">
      <div itemprop="legalName">Shopify</div>
      <div itemprop="location">Toronto, Canada</div>
      <div>0:00 AM</div>
    </section>

    <nav class="header__section header__section--4">
      <ul class="menu c-dark">
        <li class="menu__item"><a class="is-active" href="/">Work</a></li>
        <li class="menu__item"><a href="/about">About</a></li>
        <li class="menu__item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="main layout__main">
    <section class="main__section gallery" data-gallery itemscope itemtype="http://schema.org/VisualArtwork">
      {{#each images}}
        <div class="gallery__item {{#unless @index}} is-active{{/unless}}"
          data-gallery-item data-gallery-token="{{tokenize title}}">
          <div class="layout__bleed">
            <img class="gallery__image lazyload"
              alt="{{alt}}"
              data-sizes="auto"
              data-src="{{sizes.400w}}"
              data-srcset="{{sizes.400w}} 400w,
              {{sizes.600w}} 600w, 
              {{sizes.800w}} 800w, 
              {{sizes.1000w}} 1000w, 
              {{sizes.1200w}} 1200w, 
              {{sizes.1400w}} 1400w" />
          </div>
          <h3 class="gallery__heading" itemprop="name">{{title}}</h3>
          <div class="gallery__description">{{contribution}}</div>
          <div><span itemprop="position">{{increment @index}}</span> of 10</div>
        </div>
      {{/each}}
    </section>

    <section class="main__section">
      <h2>About</h2>
      <p itemprop="description">Michael Brewer handles the creation of elegant and useful experiences across all mediums at Shopify in Toronto, Canada.</p>
    </section>

    <section class="main__section">
      <h2>Contact</h2>
      <div>
        <div itemprop="name">Michael Brewer</div>
        <div>
          <a href="mailto:michael.edmund@gmail.com" itemprop="email">michael.edmund@gmail.com</a>
        </div>
        <div itemprop="telephone">+1 416 333 7884</div>
      </div>
    </section>
  </main>

  <footer class="footer layout__footer">
    <a href="https://dribbble.com/michaelbrewer">See my work on Dribbble</a>
  </footer>

  <!-- <div class="gallery">
    <button class="gallery__cta cta">View Work</button>
  </div> -->
</body>
</html>
