<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{t 'title'}}</title>
    <link rel="preload" href="fonts/calibre-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <meta name="description" content="{{t 'description'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script>
      let docClassList = document.documentElement.classList
      docClassList.remove('no-js')
      docClassList.add('js')
    </script>
  </head>

  <body itemscope itemtype="https://schema.org/Person" class="layout">
    <header class="layout__header header">
      <section class="header__section header__section--1">
        <h1 class="c-dark">{{t 'details.name'}}</h1>
      </section>

      <section class="header__section header__section--2">
        <div>{{t 'subhead'}}</div>
        <div>&copy;{{year}}</div>
      </section>

      <section itemprop="affiliation" itemscope itemtype="https://schema.org/Organization"
        class="header__section header__section--3">
        <div itemprop="legalName">{{t 'details.company'}}</div>
        <div itemprop="location">{{t 'details.location'}}</div>
        <div data-clock>0:00 AM</div>
      </section>

      <nav class="header__section header__section--4">
        <ul class="menu c-dark" data-tabs>
          <li class="menu__item"><a class="is-active" href="/" data-tabs-trigger>{{t 'menu.home'}}</a></li>
          <li class="menu__item"><a href="/about" data-tabs-trigger>{{t 'menu.about'}}</a></li>
          <li class="menu__item"><a href="/contact" data-tabs-trigger>{{t 'menu.contact'}}</a></li>
        </ul>
      </nav>
    </header>

    <main class="main layout__main">
      <section class="main__section gallery tabs-target is-active" data-tabs-target data-tabs-target-name='/' data-gallery
        itemscope itemtype="http://schema.org/VisualArtwork">
        {{#each assets}}
        <div class="gallery__item{{#unless @index}} is-active{{/unless}}" data-gallery-item
          data-gallery-token="{{tokenize title}}">
          <div class="main-inner">
            <div class="w-gallery__image lazyload main-inner__content">
              <img class="gallery__image lazyload"
                alt="{{alt}}"
                data-sizes="auto"
                data-srcset="{{sizes.400w}}.{{format}} 400w,
                  {{sizes.600w}}.{{format}} 600w,
                  {{sizes.800w}}.{{format}} 800w,
                  {{sizes.1000w}}.{{format}} 1000w,
                  {{sizes.1200w}}.{{format}} 1200w,
                  {{sizes.1400w}}.{{format}} 1400w" />
            </div>
            <div class="w-gallery__description main-inner__description">
              <h3 class="gallery__heading" itemprop="name">{{title}}</h3>
              <div class="gallery__description">{{contribution}}</div>
              <div><span itemprop="position">{{increment @index}}</span> of {{../assets.length}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </section>

      <section class="main__section tabs-target" data-tabs-target data-tabs-target-name='/about'>
        <div class="main-inner">
          <h2 class="main-inner__description">{{t 'about.heading'}}</h2>
          <p class="main-inner__content" itemprop="description">{{t 'about.content'}}</p>
        </div>
      </section>

      <section class="main__section tabs-target" data-tabs-target data-tabs-target-name='/contact'>
        <div class="main-inner">
          <h2 class="main-inner__description">{{t 'about.heading'}}</h2>
          <div class="main-inner__content h-p">
            <div itemprop="name">{{t 'details.name'}}</div>
            <div>
              <a class="no-underline" href="mailto:{{t 'details.email'}}" itemprop="email">{{t 'details.email'}}</a>
            </div>
            <div itemprop="telephone">{{t 'details.phone'}}</div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer layout__footer">
      <a href="https://behance.net/michael_brewer">{{t 'behance'}}</a> | <a href="https://dribbble.com/michaelbrewer">{{t 'dribbble'}}</a>
    </footer>
  </body>
</html>
